@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #414141;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: url("/assets/bg.png") no-repeat;
  background-size: cover;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
